<div class="login-body">
  <div class="screen">
    <div class="screen__content">
      <h1 class="h3 mb-3 fw-normal">Login</h1>
      <form class="login" [formGroup]='loginForm' (submit)="login()">

        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input type="text" class="login__input" id="floatingInput" formControlName="username"
            placeholder="Your User name">
        </div>

        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input type="password" class="login__input" id="floatingPassword" formControlName="password"
            placeholder="Password">
        </div>

        <div class="login__field radio">
          <div>
              <input type="radio" id="customer" formControlName="role" value="customer">
              <label for="customer">Customer</label>
          </div>
          <div>
              <input type="radio" id="admin" formControlName="role" value="admin">
              <label for="admin">Service Provider</label>
          </div>
        </div>

        <button class="button login__submit" type="submit" [disabled]="!loginForm.valid">
          <span class="button__text">Log In Now</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
        <p *ngIf="message" class="alert alert-danger alert-dismissible fade show">{{message}}</p>
      </form>
      <div class="social-login">
        <h3 routerLink="/register">New User?</h3>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>

</div>