<div class="login-body">
    <div class="screen">
        <div class="screen__content">
            <h1 class="h3 mb-3 fw-normal">Update Service</h1>
            <form class="login" [formGroup]='updateserviceForm' (submit)="updateservice()">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" id="floatingInput" formControlName="serviceId"
                        placeholder="Service Id">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" id="floatingInput" formControlName="serviceName"
                        placeholder="Service Name">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" id="floatingInput" formControlName="price"
                        placeholder="Price">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" id="floatingInput" formControlName="category"
                        placeholder="Category">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" id="floatingInput" formControlName="description"
                        placeholder="Description">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" id="floatingInput" formControlName="image"
                        placeholder="Image Url">
                </div>
              
                <button class="button login__submit" type="submit" [disabled]="!updateserviceForm.valid">
                    <span class="button__text">Add</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
                <div class="social-login">
                    <h3 *ngIf="success" routerLink="/login">Service Added</h3>
                </div>
                <p *ngIf="errMessage" class="alert alert-danger alert-dismissible fade show">Problem Found</p>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>

</div>