<app-nav></app-nav>

<div class="options">

    <a [routerLink]="['/dialog1']" class="btn-cart">
        Post new Service
    </a>

    <a [routerLink]="['/dialog3']" class="btn-cart">
        Update exiting Service
    </a>

    <a [routerLink]="['/dialog2']" class="btn-cart">
        Delete Service
    </a>

</div>


<div class="service-page">

    <div class="service-details">
        <h1 class="title">
            Bookings
        </h1>
    </div>

    <div class="service-chart">
        <iframe
            style="background: #0000000a;border: none;border-radius: 2px;box-shadow: 0 0px 10px 0px rgba(70, 76, 79, 0.089);"
            width="100%" height="360"
            src="https://charts.mongodb.com/charts-test-user-chndl/embed/charts?id=6559c646-f02a-4bb7-816c-8e561088f6d7&maxDataAge=60&theme=light&autoRefresh=true">
        </iframe>
    </div>

</div>


<div class="service-page">

    <div class="service-chart">
        <iframe
            style="background: #0000000a;border: none;border-radius: 2px;box-shadow: 0 0px 10px 0px rgba(70, 76, 79, 0.089);"
            width="100%" height="400"
            src="https://charts.mongodb.com/charts-test-user-chndl/embed/charts?id=6559b71f-253d-432f-8164-d1ccc87a0b97&maxDataAge=60&theme=light&autoRefresh=true">
        </iframe>
    </div>

    <div class="service-details">
        <h1 class="title">
            Analysis
        </h1>
    </div>

</div>



<app-footer></app-footer>